IyBEYXRhYmFzZQpEQVRBQkFTRV9VUkw9ImZpbGU6Li9kZXYuZGIiCgojIE5leHRBdXRoCk5FWFRBVVRIX1VSTD0iaHR0cDovL2xvY2FsaG9zdDozMDAwIgpORVhUQVVUSF9TRUNSRVQ9InlvdXItc3VwZXItc2VjcmV0LWtleS1jaGFuZ2UtaW4tcHJvZHVjdGlvbi1taW4tMzItY2hhcnMiCgojIEdpdGh1YiBPQXV0aAo=GHRCX0NMSUVOVF9JRD0ieW91ci1naXRodWItY2xpZW50LWlkIgpHSVRIVUJfQ0xJRU5UX1NFQ1JFVD0ieW91ci1naXRodWItY2xpZW50LXNlY3JldA==